
.containerCard{
    background-color: rgb(255, 255, 255);
    width: 30vw;
    
}

.containerCardBackground{
    background-color: #25b5bb;
    height: 20vh; 

}

.containerCardH{

    color: black;
}

